body {
  background: #BCD8E9;
}

.check-container{
  padding-left: 3vw;
}

.check-container label{
  font-size: 1.2vw;
  font-weight: bold;
  color: #1D74A6;
}


.check-container label:hover{
  cursor: pointer;
}

.filter_container{
  display: none;
}


.thumbnail {
  width: 100px;
  /* Ajusta el tamaño de las miniaturas según sea necesario */
  height: auto;
}

.img-profile-card {
  width: 100%;
  object-fit: cover;
  height: 350px;
}

.card-container {
  max-height: 350px;
}

.card-container .row .col-md-5 {
  height: auto;
}



.card-container,
.card-container .row,
.card-container .row .col-md-5,
.img-profile-card {
  border-radius: 25px;
}


.card-container .row .col-md-7 .card-body {
  height: 100%;
}

.buttons-box {
  position: absolute;
  bottom: 4%;
}

.skills-box {
  background: #c9dbe68a;
  padding: 1vw;
  border-radius: 6px;
  height: 50%;

}




@media screen and (max-width: 991px) and (orientation:portrait){
  .check-container{
    padding: 0vw 20vw;
  }

  .check-container label{
    font-size: 5vw;
  }

  .img-profile-card{
    width: 50%;
    height: 140px;
    margin-left: 2vw;
    margin-top: 2vw;
  }
    

  .card-container, .card-container .row{
    max-height: 600px;
    height: 100% !important;
    height: 100% !important;

  }

  .card-container .row .col-md-7{
    display: table;
  }

  .skills-box{
    height: 40vw;
    overflow-y: auto;
    padding: 3vw;
  }



  .col-content{
    height: 150vw !important;
  }

  
  

}




