body {
  background: #BCD8E9;
}



.thumbnail {
  width: 100px;
  /* Ajusta el tamaño de las miniaturas según sea necesario */
  height: auto;
}

.img-profile-card {
  width: 100%;
  object-fit: cover;
  height: 350px;
}

.card-container {
  max-height: 350px;
}

.card-container .row .col-md-5 {
  height: auto;
}



.card-container,
.card-container .row,
.card-container .row .col-md-5,
.img-profile-card {
  border-radius: 25px;
}


.card-container .row .col-md-7 .card-body {
  height: 100%;
}

.buttons-box {
  position: absolute;
  bottom: 4%;
}

.skills-box {
  background: #c9dbe68a;
  padding: 1vw;
  border-radius: 6px;
  height: 50%;

}





