.navbar {
  background: #1D74A6 !important;
}

.nav-link {
  color: white !important;
  transition: .35s;
}

.nav-link:hover {
  transition: .35s;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
}

.navbar-brand {
  color: white !important;
}

.btn-csesion {
  background: #D4AB44;
  color: white;
}


.span-line {
  background: #D4AB44;
  height: 0.4vw;
  position: absolute;
  width: 100%;
  top: 9%;
  left: 0;
}
